.page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/091/147/original/high-resolution-map-of-the-world-high-detail-grey-world-map-free-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 3px;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-89%);
    opacity: 1;
  }
}
.slide-in{
  animation: slideIn 0.5s ease-out;

}
.slide-out{
  animation: slideOut 0.5s ease-out;

}
.option-menu-button{
  height: 70px;
  width: 0px;
  display: flex; 
  border-radius: 20px;
  opacity: 0.9;
  
}
.menu{
  margin-left: 5px;
  width:  420px;
  height: 100px;
  display: flex;

  /* animation: slideIn 1s ease-out; */
}
.menu-close-button{
  right: 300px;
  background-color: #cb0b0b;
  color: #f5f2f2;
  border-radius: 10px;
  width: 50px;
  height: 80px;
  margin: auto;
}
.menu-open-button{
  opacity: 0.9;
  background-color: #6368b1;
  color: #f5f2f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 50px;
  height: 80px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: -10px;
}
.tab {

  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  margin-left: 0px;
  padding-bottom: 5px;
  width: 330px;

 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  color: #f5f2f2;
  font-weight: 700;
  background-color: #829ba9;

  border-radius: 0px;
  transition: 0.6s;
}
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #000000;
}

/* Style the tab content */
.tabcontent {
  grid-column: 2;

  display: none;
  padding: 0px;
  border-top: none;
}
.menu-container {
  /* display: grid; */
  animation: fadeIn 0.3s ease-in-out;

  grid-template-columns: 1fr 1fr 1fr;
  width: 325px;
  padding-bottom: 5px;
}
.option-button {

  float: left;
  width: 40px;
  height: 40px;
  background-color: #01050a;
  border-radius: 5px;
  color: #f5f2f2;
  border: none;
  cursor: pointer;
  margin: auto;
  margin-right: 10px;
}

.button {
  width: 50px;
  height: 40px;
  background-color: #01050a;
  border-radius: 5px;
  color: #f5f2f2;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.search_container {
  animation: fadeIn 0.3s ease-in-out;

  display: flex;
  width: 350px;
  height: 40px;
  margin: 0px 0;
}
.search_bar {
  width: 310px;
  background-color: #d3dce2;
  padding: 10px;
  border: 2px solid #01050a;
  border-radius: 5px;
}
.find_nearby_container {
  animation: fadeIn 0.3s ease-in-out;

  display: flex;
  width: 350px;
  border-radius: 5px;

  height: 40px;
}
.find_nearby_radius_input {
  padding: 10px;
  background-color: #d3dce2;
  border-radius: 5px;
  border: 2px solid #01050a;

  padding: 13px;
  width: 305px;
  border-radius: 5px;
}
.find_nearby_radius_unit {
  margin-left: -80px;
  padding: 8px;
  width: 30px;
  color: #7cabbb;
}
.find-nearby-button {
  width: 50px;
  height: 40px;
  background-color: #01050a;
  border-radius: 3px;
  color: #f5f2f2;
  border: none;
  cursor: pointer;
  margin-left: 13px;
}
.info_window_container {
  width: "100%";
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(1, 1, 1, 0.3);
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.info_window_container_header {
  background-color: #98c1d9;
  padding: 0px;
  border-radius: 8px 8px 0 0;
  color: #fff;
}
.info_window_container_header_text {
  font-size: 25px;
}
.info_window_container_body {
  color: "#333";
}
.info_window_container_all_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info_window_container_call_button {
  text-align: center;
  width: 45%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #40e15d;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.info_window_container_direction_button {
  text-align: center;
  width: 45%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
