/* the Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* the  ... font */
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
.page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/091/147/original/high-resolution-map-of-the-world-high-detail-grey-world-map-free-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 0px;
}
@keyframes slideIn {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(89%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
.slide-in {
  animation: slideIn 0.5s ease-out;
}
.slide-out {
  animation: slideOut 0.5s ease-out;
}
.slide-right {
  animation: slideRight 0.5s ease-out;
}
.slide-left {
  animation: slideLeft 0.5s ease-out;
}
.slide-in-from-right {
  animation: slideInRight 0.5s ease-out;
}
.slide-out-to-left {
  animation: slideOutLeft 0.5s ease-out;
}

.button {
  display: flex;
  width: 115px;
  height: 30px;
  color: #54facf;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  /* background-color: #262930; */
  border-radius: 5px;
  color: #f5f2f2;
  border: none;
  cursor: pointer;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: -120px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide-button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  color: #fefefe;
  background-color: #262930;
  display: flex;
  margin: auto;
}
.slide-button-icon {
  margin: auto;
}
.over-map-slide-button-container {
  position: absolute;
  width: 100%;
  height: 15%;
  z-index: 99;
  margin: auto;
}



.over-map-setting-container {
  position: absolute;
  z-index: 101;
  height: 100vh;
  width: 50%;
  display: flex;
  background-color: #262930;
  border: 1px solid #54facf;
  border-radius: 10px;
}
.over-map-container-collection {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99;
  border-radius: 10px;
  margin: auto;
  font-weight: 600;
}
.over-map-user-info-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 99;
  margin: auto;
  font-weight: 600;
  display: flex;
}
.over-map-user-info-container::-webkit-scrollbar {
  width: 8px; /* Reduce scrollbar width */
}
.over-map-user-info {
  border-radius: 0 10px 10px 0;
  width: 99%;
  height: 100vh;
  background-color: #262930;
  border: 1px solid #54facf;
}
.over-map-container-button-container {
  width: 100%;
  height: 90vh;
  margin: auto;
  display: block;
}
.over-map-button {
  display: flex;
  margin: auto;
  width: 100%;
  height: 50vh;
  text-decoration: underline;
  color: #54facf;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
.over-map-info-slide-button-container {
  width: 20px;
  height: 10vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7b8295;
  border: 1px solid #54facf;
  display: flex;
  margin: auto;
}
.avatar-container {
  position: absolute;
  display: flex;
  top: 0%;
  left: 2%;
  z-index: 99;
  border-radius: 10px;
  margin: auto;
  font-weight: 600;
  width: 10%;
  height: 10vh;
}
